@import "./helpers/twHelper.scss";
@import "./helpers/globalRules";
@import "./components/navbar.scss";
@import "./components/scrollView.scss";
@import "./components/form.scss";
@import "./components/itemsCart.scss";
@import "./components/footer.scss";

.myGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  margin-bottom: 50px;
}

.myGrid div {
  height: 300px;
  width: 300px;
  display: grid;
}